<h1>Portfolio</h1>

<ul>
{{#each models}}
  <li>
  	<a href="/projects/{{id}}">
  		<img src="/images/projects/{{id}}.png" />
  		{{name}}

  	</a>
  	<ul>
		{{#each tags}}{{#if @index}},{{/if}}
  			<a href="/projects/tags/{{this}}">{{this}}</a>{{/each}}
	</ul>
  </li>
{{/each}}
</ul>
